{% extends "base.html" %}

{% block contents %}

<p>
Paste some text (the abstract from a paper you like will work best) into the
box below to get started.
</p>

<form>
<textarea rows="10" cols="100" name="q" placeholder="Paste some text (an abstract that you like, for example) or enter some keywords…">{{ request.args["q"] }}</textarea>
<br>
Search only for: &nbsp;&nbsp;
<input type="checkbox" name="posters" {% if request.args["posters"] %}checked{% endif %}> Posters &nbsp;&nbsp;
<input type="checkbox" name="talks" {% if request.args["talks"] %}checked{% endif %}> Talks<br>
<input type="submit" value="Get some recommendations"></input>
</form>

{% if abstracts %}
<h3>Recommended abstracts</h3>
{% endif %}

{% endblock %}
